#social-media {
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 18%,
    rgba(252, 70, 107, 1) 65%,
    rgba(156, 82, 180, 1) 100%
  );
  padding-top: 8rem;
  margin-top: -30px;
  position: relative;
  z-index: 1;

  ul {
    li {
      list-style-type: none;
      border: 2px solid white;
      margin-bottom: 0;
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      i {
        font-size: 30px;
      }
    }
  }
}

.list-bottom {
  li {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    list-style-type: none;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
  }
  .list-color {
    color: #d473d4;
  }
}
