@import "./header";
@import "./breadcrumb";
@import "./footer";
@import "./card";
@import "./topics";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  body {
    #main-container {
      background-color: white;
      min-height: 20rem;
      border-radius: 7px;
      box-shadow: 1px 1px 5px 0 grey;
      position: relative;
      z-index: 2;
      padding: 15px 0 50px 0;
      margin-top: -50px;
    }

    #search-bar {
      border: 1px solid black;
      border-radius: 20px;
      outline: none;
      padding: 3px 5px;

      input {
        border: none;
      }

      button {
        border-left: 1px solid grey;
        i {
          font-size: 12px;
          text-align: center;
        }
      }
    }

    #login, #register {
      input {
        border-radius: 10px;
      }
      #submit {
        border-radius: 20px;
        color: white;
        background: linear-gradient(
          90deg,
          rgba(63, 94, 251, 1) 18%,
          rgba(252, 70, 107, 1) 65%,
          rgba(156, 82, 180, 1) 100%
        );
        border: none;
      }
    }

    #table-side {
      overflow: hidden;
      border-radius: 15px;
      .thead {
        color: white;
        background: linear-gradient(
          90deg,
          rgba(63, 94, 251, 1) 18%,
          rgba(252, 70, 107, 1) 65%,
          rgba(156, 82, 180, 1) 100%
        );
      }
    }

    #widget-side{
      overflow: hidden;
      border-radius: 15px;
    }

    
  }
}
